.navbar {
  background-color: #22CC23 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}