.navbar {
  background-color: #Ff5400 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
}
.logo-pequeno {
  width: 40%; /* Ajusta este valor según necesites */
  height:30%;
  object-fit: cover; 
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}