<div class="row mt-5 bg-primary text-white text-center py-4">
    <div class="col-md-4">
        <h5>Contacto</h5>
        <p>Email:<a href="coonadoc@yahoo.com"><i> coonadoc&#64;yahoo.com</i></a></p>
        <p>Tel: (601)7523313</p>
        <p>WhatsApp:<a href="https:/wa.me/573115019158"><i> 3115019158</i></a></p>
    </div>
    <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook-f fa-lg"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
    </div>
    <div class="col-md-4">
        <h5>Ubicación</h5>
        <p>Carrera 16 # 30 - 63, Bogotá DC</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2145954787735!2d-74.07274377152079!3d4.6193425364572995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f98ec812d32f5%3A0xc08cb826ece75740!2sCoonadoc!5e0!3m2!1ses-419!2sco!4v1747628340976!5m2!1ses-419!2sco"
            width="350" height="250" style="border: 1px;;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<!-- Scripts de Bootstrap y Font Awesome -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js" crossorigin="anonymous"></script>