@font-face {
    font-family: 'Gafien';
    src: url('assets/Fonts/Gafien.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Gafien', sans-serif;
    font-size: 1.3rem;
}
